{% extends 'covid/base.html' %}

{% block main_body %}
    <section class="first-section d-flex flex-column align-items-center py-5">
        <div class="first-section-title-div pt-5 container d-flex flex-column justify-content-center">
            <h1 class="first-section-title mx-auto"></h1>
            <p class="first-section-subtitle mx-auto my-0">in this time of need</p>
            <div class="first-section-title-description mx-auto text-center">
                Looking for plasma, having trouble finding a hospital bed or in need of an oxygen cylinder?
                Care2 donate helps collate verified data for you critical needs.
            </div>
        </div>
        <div class="first-section-content container ">
            <div class="content pt-5 pb-4">

                <div class="title-box">
                    <div class="row d-flex align-items-center">

                        <div class="col-lg-7 col-12 left-box">
                            <div class="donate-plasma-div">
                                <h2 class="donate-plasma-title mb-0">Donate Plasma
                                </h2>
                                <h3 class="donate-plasma-subtitle">
                                    And save a life
                                </h3>
                                <br>
                                <h6 class="donate-plasma-description">We match donors and patients on the basis
                                    of area and Blood group
                                </h6>

                                <!-- Button to Open the Modal -->
                                <div class="button-div d-flex flex-lg-row flex-column pt-3">
                                    <button type="button" data-toggle="modal" data-target="#donor_modal" class="btn-primary2"
                                        >I want to <br> donate plasma</button>

                                    <button type="button" data-toggle="modal" data-target="#recipient_modal" class="btn-warning2"
                                        >I am in urgent <br> need of plasma
                                    </button>
                                </div>

                                <!-- The Modal -->
                                <div class="modal" id="donor_modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            {% include 'covid/donor.html' with posts=postdata %}
                                        </div>
                                    </div>
                                </div>

                                <div class="modal" id="recipient_modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            {% include 'covid/recipient.html' with posts=postdata %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Right-->
                        <div class="col-lg-5 col-12 d-lg-flex d-none">
                            <div class="right-box px-4 py-4">
                                <h3 class="list-title mb-0">CAN I DONATE PLASMA?</h3>
                                <ul style="list-style-type:disc" class="criteria mx-0 pl-3 pr-0 py-2">
                                    <li class="pb-2">Fully recovered from COVID-19 for at least 14 days</li>
                                    <li class="pb-2">Age between 18-60 years old</li>
                                    <li class="pb-2">Weigh atleast 50kg</li>
                                    <li class="pb-2">You should not be a diabetic on insulin</li>
                                    <li class="pb-2">You should have chronic kidney/heart/lung or
                                        liver disease</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="directory-section">
        <div class="container">
            <h2 class="directory-title pt-lg-4 pt-3">
                Directory for you
            </h2>
            <p class="directory-description px-2 mx-auto">
                Get an updated list of
                Testing Centres in Delhi.
            </p>
            <div class="container d-flex flex-column">
                <div class="testing-center-data-row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3 row">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Hotel Apra Inn
                        </div>
                        <div class="center-address">
                            15A/61 WEA Colony, Ajmal Khan Road, Karol Bagh
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911122478881
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">Central Delhi</div>
                    </div>
                </div>



                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Swami Parmanand Prakritik Chikitsalaya Yoga & Anushandhan Kendra
                        </div>
                        <div class="center-address">
                            West Vinod Nagar
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911122478881
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">East Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Shrine Hospital
                        </div>
                        <div class="center-address">
                            Main Bawana Road, Sector 17, Rohini (connected with MVH Hospital)
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            --
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Maharaja Agrasen Bhawan
                        </div>
                        <div class="center-address">
                            CS Pocket 12, Rithala Road, Sector 5, Rohini </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            --
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North West Delhi</div>
                    </div>
                </div>


                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Khosla Hospital
                        </div>
                        <div class="center-address">
                            Shalimar Bagh</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911127479501
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North West Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Shri Satnam Bhawan
                        </div>
                        <div class="center-address">
                            Block C3, Phase 2, Ashok Vihar, Delhi</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            ---
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North West Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Shri Satnam Bhawan
                        </div>
                        <div class="center-address">
                            Block C3, Phase 2, Ashok Vihar, Delhi</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            ---
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North West Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Quarantine Facility
                        </div>
                        <div class="center-address">
                            DUSIB Flats, ES Block, Sultan Puri</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            ---
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North West Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Prime Stay B & B
                        </div>
                        <div class="center-address">
                            Haiderpur, Shalimar Bagh</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            ---
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">North West Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Hotel Park
                        </div>
                        <div class="center-address">
                            Shahdara</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911145630000
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">Shahdara</div>
                    </div>
                </div>


                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Beleamonde Hotel
                        </div>
                        <div class="center-address">
                            Chhatarpur, Mandir Road, Sahoorpur Extention, Mehrauli, IIPM Satbari Road, New Delhi</div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911149845400
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">South Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Bensups Hospital
                        </div>
                        <div class="center-address">
                            Dwarka
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911145550000 </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">South West Delhi</div>
                    </div>
                </div>


                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            BH Salvas
                        </div>
                        <div class="center-address">
                            Chandan Park, Jharoda Road, Najafgarh
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911145550000 </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">South West Delhi</div>
                    </div>
                </div>


                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            The Exotica Grand
                        </div>
                        <div class="center-address">
                            1/12, West Patel Nagar
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911149889900 </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">West Delhi</div>
                    </div>
                </div>


                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Golden Tulip Hotel
                        </div>
                        <div class="center-address">
                            Hari Nagar
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911140833333
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">West Delhi</div>
                    </div>
                </div>

                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Swift Hotel In
                        </div>
                        <div class="center-address">
                            Meera Bagh
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911141557348
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">West Delhi</div>
                    </div>
                </div>


                <div class="testing-center-data-row row d-flex justify-content-between px-lg-4 px-2 py-3 mb-3">
                    <div class="center-name-address px-lg-0 px-3 col-lg-5 col-8">
                        <div class="center-name">
                            Hotel Amrapali Grand
                        </div>
                        <div class="center-address">
                            2/16 East Patel Nagar
                        </div>
                    </div>
                    <div class="contact-no-div d-flex flex-column justify-content-center align-items-center col-lg-2 col-4">
                        <div class="contact-number-placeholder text-center">
                            Contact No.
                        </div>
                        <div class="contact-number">
                            +911125725700
                        </div>
                    </div>
                    <div class="district-name-div d-lg-flex d-none flex-column col-2">
                        <div class="district-placeholder">District</div>
                        <div class="district-name">West Delhi</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}