{{ covid_user_form.media }}

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Plasma Request Form</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
    <form method="post" novalidate>
        <div class="registration-form_body d-flex flex-wrap justify-content-between px-3">
            {% csrf_token %}
            {% include 'covid/includes/bs4_form.html' with form=covid_user_form %}
            {% include 'covid/includes/bs4_form.html' with form=covid_user_details_form %}
        </div>

        <div class="modal-footer border-0 pt-0 px-5 mb-2">
          <button type="button" class="btn register-btn">Register</button>
        </div>
    </form>
</div>